<!DOCTYPE html>
<html>
	<head>
		<!-- <% include ../partials/head %> -->
		<!-- <script type="text/javascript" src="../../public/js/signUp.js"></script> -->
	</head>
	<body>
		<section>
			<app></app>
		</section>
		<script async src="../../dist/build.js"></script>
	</body>
</html>
