.chip {
  color: white;
  background-color: grey;
}

.btn, .btn-large, .btn-floating {
  background-color: #34888C;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #34888C;
}

.btn:hover, .btn-large:hover, .btn-floating:hover {
  background-color: #34888C;
}

.yellow-m {
  background-color: #F5E356;
}

.brown-m {
  background-color: #CB6318;
}

.blue-m {
  background-color: #34888C;
}

.text-blue-m {
  color: #34888C;
}

.text-yellow-m {
  color: #F5E356;
}

.text-brown-m {
  color: #CB6318
}

.chips.focus {
  border-bottom-color: #CB6318;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #CB6318;
}

body, .layout {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 html {
   font-family:  Calibri, Trebuchet, sans-serif;
   /*color: #34888C;*/
 }

 main {
   flex: 1 0 auto;
 }

 a {
   cursor: pointer;
 }

 .switch {
   border: 2px solid #34888C;
   border-radius: 5px;
   color: #34888C;
   padding: 0 !important;
 }

 .switch > .col {
   cursor: pointer;
   padding: 15px !important;
   height: auto;
 }

 .switch > .col:hover {
   background-color: rgba(0,0,0,0.1);
 }
